<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>传智健康</title>
        <meta name="description" content="传智健康">
        <meta name="keywords" content="传智健康">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../css/style.css">
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">

    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>统计分析<small>会员数量</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>统计分析</el-breadcrumb-item>
                    <el-breadcrumb-item>会员数量</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <template>
                <el-form>
                    <el-row>
                        <el-col :spna="12">
                            <el-form-item label="开始时间" size="mini">
                                <el-date-picker
                                        v-model="startDate"
                                        value-format="yyyy-MM-dd"
                                        type="month"
                                        placeholder="选择月份"
                                        :picker-options="pickerOptions1">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                        <el-col :spna="12">
                            <el-form-item label="结束时间" size="mini">
                                <el-date-picker
                                        v-model="endDate"
                                        value-format="yyyy-MM-dd"
                                        type="month"
                                        placeholder="选择月份"
                                        :picker-options="pickerOptions2">
                                </el-date-picker>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
            </template>

            <el-button @click="seek()" class="dalfBut">查询</el-button>
            <div class="app-container">
                <div class="box">
                    <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                    <div id="chart1" style="height:600px;"></div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/echarts.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    startDate: '',
                    endDate: '',
                    pickerOptions1: {
                        disabledDate(time) {
                            if (vm.endDate != null && vm.endDate != "") {
                                return time.getTime() > vm.endDate;
                            } else {
                                return false;
                            }
                        }
                    },
                    pickerOptions2: {
                        disabledDate(time) {
                            if (vm.startDate != null && vm.startDate != "") {
                                return time.getTime() < vm.startDate;
                            } else {
                                return false;
                            }
                        }
                    }
                }
            },
            mounted(){
                // 基于准备好的dom，初始化echarts实例
                var myChart1 = echarts.init(document.getElementById('chart1'));

                // 使用刚指定的配置项和数据显示图表。
                //myChart.setOption(option);

                axios.get("/report/getMemberReport.do").then((res)=>{
                    myChart1.setOption(
                        {
                            title: {
                                text: '会员数量'
                            },
                            tooltip: {},
                            legend: {
                                data:['会员数量']
                            },
                            xAxis: {
                                data: res.data.data.months
                            },
                            yAxis: {
                                type:'value'
                            },
                            series: [{
                                name: '会员数量',
                                type: 'line',
                                data: res.data.data.memberCount
                            }]
                        });
                });
            },
            methods: {
                seek() {
                    // 基于准备好的dom，初始化echarts实例
                    var myChart1 = echarts.init(document.getElementById('chart1'));

                    // 使用刚指定的配置项和数据显示图表。
                    //myChart.setOption(option);

                    axios.post("/report/getMember.do", {
                        "startDate": this.startDate,
                        "endDate": this.endDate
                    }).then((res) => {
                        myChart1.setOption(
                            {
                                title: {
                                    text: '会员数量'
                                },
                                tooltip: {},
                                legend: {
                                    data: ['会员数量']
                                },
                                xAxis: {
                                    data: res.data.data.months
                                },
                                yAxis: {
                                    type: 'value'
                                },
                                series: [{
                                    name: '会员数量',
                                    type: 'line',
                                    data: res.data.data.memberCount
                                }]
                            });
                    });
                },
            }

        })
    </script>
</html>
